import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.dynamicframe import DynamicFrame
from awsglue.job import Job
 
## @params: [JOB_NAME]
#args = getResolvedOptions(sys.argv, ['JOB_NAME'])
 
#sc = SparkContext()
#glueContext = GlueContext(sc)
glueContext = GlueContext(SparkContext.getOrCreate())
spark = glueContext.spark_session
#spark = glueContext.spark_session
#job = Job(glueContext)
#job.init(args['JOB_NAME'], args)

datasource0 = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "raw_transaction", transformation_ctx = "datasource0")
applymapping1 = ApplyMapping.apply(frame = datasource0, mappings = [("transactionid", "string", "transactionid", "string"), ("poutcome", "string", "poutcome", "string"), ("campaign", "long", "campaign", "long"), ("`cons.conf.idx`", "double", "`cons.conf.idx`", "double"), ("loan", "string", "loan", "string"), ("marital", "string", "marital", "string"), ("`cons.price.idx`", "double", "`cons.price.idx`", "double"), ("duration", "long", "duration", "long"), ("euribor3m", "double", "euribor3m", "double"), ("pdays", "long", "pdays", "long"), ("previous", "long", "previous", "long"), ("education", "string", "education", "string"), ("housing", "string", "housing", "string"), ("job", "string", "job", "string"), ("date", "string", "date", "string"), ("month", "string", "month", "string"), ("customerid", "string", "customerid", "string"), ("`nr.employed`", "string", "`nr.employed`", "string"), ("default", "string", "default", "string"), ("age", "long", "age", "long"), ("`emp.var.rate`", "double", "`emp.var.rate`", "double"), ("day_of_week", "string", "day_of_week", "string"), ("contact", "string", "contact", "string")], transformation_ctx = "applymapping1")

In [38]:
## @type: SelectFields
## @args: [paths = ["transactionid", "customerid", "age", "job", "marital", "education", "default", "housing", "loan", "contact", "month", "day_of_week", "duration", "campaign", "pdays", "previous", "poutcome", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed"], transformation_ctx = "selectfields2"]
## @return: selectfields2
## @inputs: [frame = applymapping1]
selectfields2 = SelectFields.apply(frame = applymapping1, paths = ["transactionid", "customerid", "age", "job", "marital", "education", "default", "housing", "loan", "contact", "month", "day_of_week", "duration", "campaign", "pdays", "previous", "poutcome", "`emp.var.rate`", "`cons.price.idx`", "`cons.conf.idx`", "euribor3m", "`nr.employed`", "date"], transformation_ctx = "selectfields2")
## @type: ResolveChoice
## @args: [choice = "MATCH_CATALOG", database = "unicorn_prediction", table_name = "transformed_marketing", transformation_ctx = "resolvechoice3"]
## @return: resolvechoice3
## @inputs: [frame = selectfields2]
##resolvechoice3 = ResolveChoice.apply(frame = selectfiimport sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.dynamicframe import DynamicFrame
from awsglue.job import Job
 
## @params: [JOB_NAME]
#args = getResolvedOptions(sys.argv, ['JOB_NAME'])
 
#sc = SparkContext()
#glueContext = GlueContext(sc)
glueContext = GlueContext(SparkContext.getOrCreate())
spark = glueContext.spark_session
#spark = glueContext.spark_session
#job = Job(glueContext)
#job.init(args['JOB_NAME'], args)

datasource0 = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "raw_transaction", transformation_ctx = "datasource0")
applymapping1 = ApplyMapping.apply(frame = datasource0, mappings = [("transactionid", "string", "transactionid", "string"), ("poutcome", "string", "poutcome", "string"), ("campaign", "long", "campaign", "long"), ("`cons.conf.idx`", "double", "`cons.conf.idx`", "double"), ("loan", "string", "loan", "string"), ("marital", "string", "marital", "string"), ("`cons.price.idx`", "double", "`cons.price.idx`", "double"), ("duration", "long", "duration", "long"), ("euribor3m", "double", "euribor3m", "double"), ("pdays", "long", "pdays", "long"), ("previous", "long", "previous", "long"), ("education", "string", "education", "string"), ("housing", "string", "housing", "string"), ("job", "string", "job", "string"), ("date", "string", "date", "string"), ("month", "string", "month", "string"), ("customerid", "string", "customerid", "string"), ("`nr.employed`", "string", "`nr.employed`", "string"), ("default", "string", "default", "string"), ("age", "long", "age", "long"), ("`emp.var.rate`", "double", "`emp.var.rate`", "double"), ("day_of_week", "string", "day_of_week", "string"), ("contact", "string", "contact", "string")], transformation_ctx = "applymapping1")
elds2, choice = "MATCH_CATALOG", database = "unicorn_prediction", table_name = "transformed_marketing", transformation_ctx = "resolvechoice3")
## @type: ResolveChoice
## @args: [choice = "make_struct", transformation_ctx = "resolvechoice4"]
## @return: resolvechoice4
## @inputs: [frame = resolvechoice3]
resolvechoice4 = ResolveChoice.apply(frame = selectfields2, choice = "make_struct", transformation_ctx = "resolvechoice4")

#unicorn_tx_df = resolvechoice4.toDF().repartition(1)
#unicorn_tx_dyf = DynamicFrame.fromDF(unicorn_tx_df, glueContext, "partition")

#glueContext.write_dynamic_frame.from_options(frame = unicorn_tx_dyf, connection_type = "s3", connection_options = {"path": "s3://unicorn-prediction-transform/marketing","partitionKeys": ["date"] },format="parquet", transformation_ctx = "datasink_output")

In [39]:
unicorn_tx_df = resolvechoice4.toDF()
unicorn_tx_df.show()

+--------------------+----------+---+------------+--------+-------------------+-------+-------+-------+---------+-------+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----------+
|       transactionid|customerid|age|         job| marital|          education|default|housing|   loan|  contact|  month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|      date|
+--------------------+----------+---+------------+--------+-------------------+-------+-------+-------+---------+-------+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----------+
|5be161685d5c0e252...|    947761| 61|   housemaid| married|           basic.9y|    yes|    yes|     no|telephone|    jun|        thu|     100|       2|   42|       0|    unknown|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    903448| 21|  technician| married|         illiterate|     no|     no|     no|  unknown|    jun|        tue|      69|       2|   17|       0|    success|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    175844| 68|entrepreneur| married|         illiterate|     no|    yes|     no|telephone|    oct|        wed|      64|       2|   75|       0|    success|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    168356| 38|  management|divorced|        high.school|     no|     no|unknown|  unknown|    aug|        thu|      89|       2|   61|       0|    success|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    289801| 39|  management|  single|  university.degree|    yes|     no|    yes| cellular|    aug|        sun|      33|       2|   56|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|     64944| 59|  management|divorced|            unknown|unknown|     no|     no|telephone|    aug|        sat|      55|       2|   61|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    456056| 57|  management|  single|           basic.9y|     no|     no|    yes| cellular|    jan|        sat|      97|       2|   48|       0|    failure|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    531392| 49|       admin|divorced|            unknown|unknown|    yes|     no|  unknown|    apr|        sat|      21|       2|   56|       0|    success|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    970808| 62| blue-collar| unknown|            unknown|    yes|unknown|     no| cellular|    oct|        sat|      32|       2|   65|       0|    unknown|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    286197| 70|    services|divorced|         illiterate|unknown|unknown|unknown| cellular|    oct|        sun|      41|       2|   11|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    166326| 66|  management| married|professional.course|unknown|unknown|     no|  unknown|    oct|        thu|      67|       2|   76|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    409683| 30|   housemaid| unknown|           basic.6y|    yes|     no|     no|telephone|    apr|        thu|      96|       2|   89|       0|    success|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    523943| 68|  management| unknown|           basic.9y|unknown|    yes|    yes| cellular|    feb|        sun|      88|       2|   14|       0|    success|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    614549| 51|     unknown| unknown|professional.course|    yes|     no|     no| cellular|    jun|        sat|      64|       2|   74|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    661664| 26|  management| married|professional.course|unknown|     no|unknown|  unknown|    jan|    unknown|      35|       2|   41|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    411245| 23|     unknown| unknown|                 no|     no|    yes|     no|  unknown|    may|        thu|      29|       2|    3|       0|    failure|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    585399| 59|  management| married|        high.school|     no|     no|     no| cellular|   sept|        fri|      35|       2|   18|       0|    unknown|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    307684| 51|       admin| married|  university.degree|     no|unknown|     no| cellular|    may|        wed|      82|       2|   24|       0|    failure|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    597100| 36| blue-collar|divorced|  university.degree|unknown|unknown|     no|telephone|unknown|        sun|      32|       2|   68|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
|5be161685d5c0e252...|    525106| 52|    services|divorced|           basic.9y|    yes|    yes|    yes|  unknown|    dec|    unknown|      37|       2|   95|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|2018-11-06|
+--------------------+----------+---+------------+--------+-------------------+-------+-------+-------+---------+-------+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----------+
only showing top 20 rows

In [51]:
unicorn_tm = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "transformed_marketing", transformation_ctx = "tm")
unicorn_tcontact = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_contact", transformation_ctx = "tcontact")
unicorn_temployment = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_employment", transformation_ctx = "temployment")
unicorn_tmarital = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_marital", transformation_ctx = "tmarital")
unicorn_tdefault = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_default", transformation_ctx = "tdefault")
unicorn_teducation = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_education", transformation_ctx = "teducation")
unicorn_thousing = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_housing", transformation_ctx = "thousing")
unicorn_tloan = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_loan", transformation_ctx = "tloan")
unicorn_tpoutcome = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_poutcome", transformation_ctx = "tpoutcome")
unicorn_tmonth = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_month", transformation_ctx = "tmonth")
unicorn_dow = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "taxonomy_day_of_week", transformation_ctx = "dow")
unicorn_update = glueContext.create_dynamic_frame.from_catalog(database = "unicorn_prediction", table_name = "raw_update", transformation_ctx = "update")


unicorn_tm.toDF().createOrReplaceTempView("transformed_marketing")
unicorn_tcontact.toDF().createOrReplaceTempView("taxonomy_contact")
unicorn_temployment.toDF().createOrReplaceTempView("taxonomy_employment")
unicorn_tmarital.toDF().createOrReplaceTempView("taxonomy_marital")
unicorn_tdefault.toDF().createOrReplaceTempView("taxonomy_default")
unicorn_teducation.toDF().createOrReplaceTempView("taxonomy_education")
unicorn_thousing.toDF().createOrReplaceTempView("taxonomy_housing")
unicorn_tloan.toDF().createOrReplaceTempView("taxonomy_loan")
unicorn_tpoutcome.toDF().createOrReplaceTempView("taxonomy_poutcome")
unicorn_tmonth.toDF().createOrReplaceTempView("taxonomy_month")
unicorn_dow.toDF().createOrReplaceTempView("taxonomy_day_of_week")
unicorn_update.toDF().createOrReplaceTempView("raw_update")

In [52]:
unicorn_tm.printSchema()

root
|-- transactionid: string
|-- customerid: string
|-- age: long
|-- job: string
|-- marital: string
|-- education: string
|-- default: string
|-- housing: string
|-- loan: string
|-- contact: string
|-- month: string
|-- day_of_week: string
|-- duration: long
|-- campaign: long
|-- pdays: long
|-- previous: long
|-- poutcome: string
|-- emp.var.rate: double
|-- cons.price.idx: double
|-- cons.conf.idx: double
|-- euribor3m: double
|-- nr.employed: string
|-- date: date

In [53]:
unicorn_tcontact.printSchema()

root
|-- mpno: long
|-- description: string

In [54]:
unicorn_tcontact.toDF().show()

+----+-----------+
|mpno|description|
+----+-----------+
|   0|    unknown|
|   1|   cellular|
|   2|  telephone|
+----+-----------+

In [55]:
unicorn_temployment.printSchema()

root
|-- mpno: long
|-- description: string

In [56]:
unicorn_temployment.toDF().show()
df = unicorn_temployment.toDF()

+----+-------------+
|mpno|  description|
+----+-------------+
|   0|      unknown|
|   1|       admin.|
|   2|  blue-collar|
|   3| entrepreneur|
|   4|    housemaid|
|   5|   management|
|   6|      retired|
|   7|self-employed|
|   8|     services|
|   9|      student|
|  10|   technician|
|  11|   unemployed|
+----+-------------+

In [57]:
df.createOrReplaceTempView("taxonomy_employment")

unicorn_predict_df = spark.sql("select description from taxonomy_employment")

In [58]:
unicorn_predict_df.show()

+-------------+
|  description|
+-------------+
|      unknown|
|       admin.|
|  blue-collar|
| entrepreneur|
|    housemaid|
|   management|
|      retired|
|self-employed|
|     services|
|      student|
|   technician|
|   unemployed|
+-------------+

In [59]:
unicorn_predict_df = spark.sql(
    """
select tm.age as age, temployment.mpno as job, tmarital.mpno as marital, teducation.mpno as education, tdefault.mpno as default, thousing.mpno as housing, tloan.mpno as loan, tcontact.mpno as contact, tmonth.mpno as month, dow.mpno as day_of_week, tm.duration as duration, tm.campaign, tm.pdays, tm.previous, tpoutcome.mpno as poutcome, tm.`emp.var.rate`, tm.`cons.price.idx`, tm.`cons.conf.idx`, tm.euribor3m, tm.`nr.employed`,
CASE
   WHEN update.y = 'no' THEN 0
   WHEN update.y is NULL THEN 0
   WHEN update.y = 'yes' THEN 1
END as y
from transformed_marketing tm 
inner join taxonomy_contact tcontact on tcontact.description=tm.contact
inner join taxonomy_employment temployment on temployment.description=tm.job
inner join taxonomy_marital tmarital on tmarital.description=tm.marital
inner join taxonomy_default tdefault on tdefault.description=tm.default
inner join taxonomy_education teducation on teducation.description=tm.education
inner join taxonomy_housing thousing on thousing.description=tm.housing
inner join taxonomy_loan tloan on tloan.description=tm.loan
inner join taxonomy_poutcome tpoutcome on tpoutcome.description=tm.poutcome
inner join taxonomy_month tmonth on tmonth.description=tm.month
inner join taxonomy_day_of_week as dow on dow.description=tm.day_of_week
inner join raw_update as update on update.transactionid=tm.transactionid
    """
)#.repartition(1)

unicorn_predict_df.show()
#unicorn_predict_dyf = DynamicFrame.fromDF(unicorn_predict_df, glueContext, "predict")
#glueContext.write_dynamic_frame.from_options(frame = unicorn_predict_dyf, connection_type = "s3", connection_options = {"path": "s3://unicorn-prediction-production/output" },format="csv", transformation_ctx = "datasink_output")

+---+---+-------+---------+-------+-------+----+-------+-----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+
|age|job|marital|education|default|housing|loan|contact|month|day_of_week|duration|campaign|pdays|previous|poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---+---+-------+---------+-------+-------+----+-------+-----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+
| 35|  2|      2|        2|      1|      2|   1|      2|    5|          1|     312|       1|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 50|  2|      2|        3|      0|      1|   1|      2|    5|          1|     463|       1|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 36|  1|      2|        7|      1|      2|   1|      2|    5|          1|     120|       2|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 42| 10|      3|        6|      0|      0|   0|      2|    5|          2|     529|       1|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 41|  3|      2|        7|      1|      2|   1|      2|    5|          3|    1138|       1|  999|       0|       2|         1.1|        93.994|        -36.4|    4.856|       5191|  1|
| 29|  1|      3|        4|      1|      2|   1|      2|    5|          3|     511|       2|  999|       0|       2|         1.1|        93.994|        -36.4|    4.856|       5191|  0|
| 31| 10|      2|        6|      1|      1|   1|      2|    5|          4|     528|       1|  999|       0|       2|         1.1|        93.994|        -36.4|    4.855|       5191|  0|
| 25|  8|      1|        4|      1|      2|   1|      2|    5|          4|     147|       1|  999|       0|       2|         1.1|        93.994|        -36.4|    4.855|       5191|  0|
| 43|  2|      2|        2|      0|      1|   1|      2|    5|          4|     301|       2|  999|       0|       2|         1.1|        93.994|        -36.4|    4.855|       5191|  0|
| 57|  8|      2|        2|      1|      1|   1|      2|    5|          4|      43|       2|  999|       0|       2|         1.1|        93.994|        -36.4|    4.855|       5191|  0|
| 32|  2|      2|        3|      0|      1|   1|      2|    5|          5|     180|       2|  999|       0|       2|         1.1|        93.994|        -36.4|    4.855|       5191|  0|
| 49|  3|      2|        4|      1|      1|   1|      2|    5|          5|     189|       1|  999|       0|       2|         1.1|        93.994|        -36.4|    4.855|       5191|  0|
| 28|  1|      3|        7|      1|      2|   1|      2|    5|          5|     286|       5|  999|       0|       2|         1.1|        93.994|        -36.4|    4.855|       5191|  0|
| 25|  9|      3|        4|      1|      1|   1|      2|    5|          5|      97|       1|  999|       0|       2|         1.1|        93.994|        -36.4|    4.855|       5191|  0|
| 33| 11|      2|        6|      0|      2|   1|      2|    5|          1|     129|       2|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 32|  8|      2|        4|      1|      0|   0|      2|    5|          1|      72|       2|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 35|  2|      2|        3|      1|      1|   1|      2|    5|          1|      63|       5|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 39| 10|      2|        7|      1|      2|   1|      2|    5|          1|     241|       3|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 31|  2|      3|        4|      0|      2|   1|      2|    5|          1|      93|       4|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 36|  1|      3|        4|      1|      2|   2|      2|    5|          1|     111|       4|  999|       0|       2|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
+---+---+-------+---------+-------+-------+----+-------+-----+-----------+--------+--------+-----+--------+--------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [61]:
dfc = SplitRows.apply(unicorn_temployment,
                                     {"mpno": {">": 4}},
                                     "group1", "group2")

dfc.keys()

['group1', 'group2']

In [66]:
group1_dyf = dfc.select("group1")
group2_dyf = dfc.select("group2")

group1_dyf.toDF().show()
group2_dyf.toDF().show()

+----+-------------+
|mpno|  description|
+----+-------------+
|   5|   management|
|   6|      retired|
|   7|self-employed|
|   8|     services|
|   9|      student|
|  10|   technician|
|  11|   unemployed|
+----+-------------+

+----+------------+
|mpno| description|
+----+------------+
|   0|     unknown|
|   1|      admin.|
|   2| blue-collar|
|   3|entrepreneur|
|   4|   housemaid|
+----+------------+